* {
    margin: 0;
    padding: 0;
}

.home {
    background-color: #FFDD0D;
}


.row-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.describe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: baseline;
}

.livro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: baseline;
}


.grow {
    flex-grow: 1;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}